html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.screen-one h1 {
  text-align: center;
  padding: 0 2rem;

  font-size: 3rem;
  margin-top: 2.9rem;
  color: #150d06;
  font-family: georgia;
  line-height: 2.5rem;
}
.screen-one {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  background-image: linear-gradient(
      -180deg,
      rgba(255, 255, 255, 0.8),
      rgba(48, 142, 112, 0.4)
    ),
    url(./images/1614147737_294488.jpg);
  background-image: url(./images/1614147737_294488.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.screen-one::before {
  content: "";
  position: absolute;
  height: 10rem;
  width: calc(100% - 1.5rem);
  bottom: 1rem;
  left: 0.8rem;
  background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  opacity: 0.4;
  border-radius: 2.5rem;
}

.screen-one::after {
  content: "";
  position: absolute;
  height: 2.5rem;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0),
    rgba(22, 79, 66, 0.6)
  );
}

.screen-one p {
  text-align: center;

  font-size: 1.7rem;
  padding: 0 3rem;
  margin-top: 0;
  color: #494847;
  font-family: Poppins;
}

.screen-one .bottom .bottom-link {
  display: block;

  font-size: 2.1rem;
  text-shadow: 2px 2px 2px blue;
  text-align: center;
  font-family: georgia;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  margin-bottom: 2.5rem;
  z-index: 999;
  position: relative;
}
@media (max-width: 540px) {
  .screen-one h1 {
    font-size: 2rem;
  }
  .screen-one p {
    font-size: 1rem;
  }
  .screen-one .bottom .bottom-link {
    font-size: 1.1rem;
  }
}

/* .screen-two */
.screen-two {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #006afa;
}

.toggleMenu {
  width: 2rem;
  height: 2rem;
  margin-left: 4rem;
}
.toggleMenu .one {
  display: block;
  width: 35%;
  height: 0.1rem;
  background: #fff;
  opacity: 0.5;
  margin-bottom: 0.5rem;
}
.toggleMenu .two {
  display: block;
  width: 70%;
  height: 0.1rem;
  background: #fff;
  opacity: 1;
}
.toggleMenu .three {
  display: block;
  width: 35%;
  height: 0.1rem;
  background: #fff;
  opacity: 0.5;
  margin-top: 0.5rem;
  margin-left: 0.7rem;
}
.slidesradiotextradio {
  margin-left: 200px;
}
.screen-two .profile {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 30%;

  margin-left: 4rem;
}
.screen-two .fa-bell {
  color: #fff;

  font-size: 2rem;
  margin-right: 4rem;
}

.screen-two .heading,
.screen-two .profil_text {
  display: flex;
  justify-content: space-between;
}
.screen-two .heading {
  padding: 3rem 2rem 0 2rem;
}
.screen-two .profil_text {
  padding: 1rem 3rem 0 2rem;
}

.screen-two .profil_text .text h4 {
  font-weight: lighter;
  color: #fff;
  margin: 0.3rem 0 0 0;
  font-family: georgia;

  font-size: 2rem;
  line-height: 4rem;
}

.screen-two .profil_text .text p {
  color: #fff;
  margin: 0;
  font-family: georgia;
  font-weight: bold;

  font-size: 2.5rem;
}

.screen-two .rec-trips {
  height: 80%;
  border-radius: 2.3rem;
  background: #fff;
  padding: 2.5rem;
  margin-top: -1.5rem;
}

.screen-two .rec-trips h3 {
  margin: 0 0 1.5rem 0;
  font-weight: 500;
  font-family: Poppins;
  letter-spacing: -0.01rem;

  font-size: 2rem;
}

.screen-two .scroll-trips {
  overflow-x: auto;
}
.screen-two .mountains {
  width: 1000px;
  height: 200px;

  margin: -4rem auto 0 auto;
  display: block;
  position: relative;
  opacity: 0.65;
  filter: invert(1);
}

.linia {
  width: 1.5rem;
  position: relative;
  border: 1px solid rgb(228, 220, 220);
  margin: -2rem auto 1.5rem auto;
}
.screen-two .scroll-trips {
  width: 100%;
  overflow-x: scroll;
}
.trip-hold {
  width: max-content;
  display: flex;
  align-items: center;
  margin: 0.5rem auto;
}
.trip-box {
  width: 30rem;
  height: 16rem;
  border-radius: 1rem;
  display: inline-block;
  background-size: cover;
  background-position: center;
  margin-right: 1.5rem;

  position: relative;
}

.trip-box.trip-first {
  height: 18.75rem;
}

.trip-box span.name {
  bottom: 4.6rem;
  font-weight: 800;
}
.trip-box span.info-span {
  border-radius: 2rem;
  color: #fff;
  padding: 3px 12px;
  text-align: center;

  font-size: 20px;
  position: absolute;
  z-index: 10;
}
.trip-box span.tag {
  background: chocolate;
  margin: 0.8rem 0rem 0 5.3rem;
  font-weight: 600;
  padding: 0.3rem 0.7rem;

  font-size: 1.6rem;
}
.trip-box span.location {
  background: rgba(129, 127, 127, 0.9);

  font-size: 1.2rem;
  font-weight: 600;
  bottom: 2rem;
  left: 0.7rem;
  z-index: 1;
  padding: 0.3rem 0.7rem;
}

.covid-box {
  background: #f5f6fb;
  width: 100%;
  height: 67px;
  border-radius: 12px;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.covid-box .icon {
  background-color: red;
  width: 4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.9rem;
  margin-left: 1rem;
}

.covid-box .icon .fas.fa-exclamation {
  color: #fff;
  font-size: 1.5rem;
}
.covid-box .covid19 {
  margin-left: 1rem;
  margin-right: 2rem;
}
.covid19 .travel {
  font-size: 1.5rem;
}
.covid-box .covid19 .hours {
  font-weight: lighter;
  color: #999794;

  font-size: 1.2rem;
}

.cross {
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  color: gainsboro;
  margin-bottom: 3.6rem;
}

@media (max-width: 1280px) {
  .screen-two .fa-bell {
    margin-right: 5rem;
  }
  .screen-two .profil_text .text h4 {
    font-size: 2rem;
    line-height: 4rem;
    margin-right: 8rem;
  }
}
@media (max-width: 768px) {
  .screen-two .profile {
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
  }
  .screen-two .fa-bell {
    font-size: 1.7rem;
    margin-right: 2rem;
  }

  .screen-two .profil_text .text h4 {
    font-size: 1rem;
    line-height: 2rem;
    margin: 0.3rem 0 0 1rem;
  }

  .screen-two .profil_text .text p {
    font-size: 1rem;
    margin: 0.3rem 0 0 1rem;
  }

  .screen-two .rec-trips h3 {
    font-size: 1.5rem;
  }

  .screen-two .scroll-trips {
    overflow-x: auto;
  }
  .screen-two .mountains {
    width: 350px;
    height: 100px;
    margin: -1rem auto 0 auto;
  }

  .trip-box {
    height: 12.5rem;
    width: 11rem;
  }

  .trip-box.trip-first {
    height: 15.75rem;
  }

  .trip-box span.info-span {
    font-size: 12px;
  }
  .trip-box span.tag {
    font-size: 0.9rem;
  }
  .trip-box span.location {
    font-size: 0.8rem;
  }

  .covid19 .travel {
    font-size: 1.2rem;
  }
  .covid-box .covid19 .hours {
    font-size: 1rem;
  }
}
@media (max-width: 1024px) and (min-height: 1024px) {
  .screen-two .profile {
    width: 7rem;
    height: 7rem;
    margin-left: 5rem;
  }
  .screen-two .fa-bell {
    font-size: 1.7rem;
    margin-right: 2rem;
  }

  .screen-two .profil_text .text h4 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0.3rem 2rem 0 1rem;
  }

  .screen-two .profil_text .text p {
    font-size: 2rem;
    margin: 0.3rem 0 0 1rem;
  }
  .screen-two .rec-trips {
    height: 60%;
  }
  .screen-two .mountains {
    width: 700px;
    height: 300px;
    margin: 1rem auto 0 auto;
  }

  .screen-two .rec-trips h3 {
    margin: 3.5rem 0 2rem 0;
    font-size: 2.5rem;
  }
  .slidesradiotextradio {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .covid-box {
    margin-top: 5rem;
  }
}

@media (max-width: 375px) {
  .screen-two .mountains {
    width: 300px;
    height: 100px;
    margin: 0.1rem auto 0 auto;
  }
  .screen-two .profile {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
  }
  .screen-two .fa-bell {
    font-size: 1.2rem;
    margin-right: 1rem;
  }

  .screen-two .profil_text .text h4 {
    font-size: 0.6rem;
    line-height: 1.3rem;
    margin-right: 1rem;
  }

  .screen-two .profil_text .text p {
    font-size: 0.8rem;
    margin: 0.3rem 0 0 1rem;
  }
  .toggleMenu {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }
  .covid19 .travel {
    font-size: 1rem;
  }
  .trip-box span.info-span {
    font-size: 10px;
  }
  .trip-box span.tag {
    font-size: 0.9rem;
  }
}

@media (max-width: 280px) {
  .screen-two .mountains {
    width: 250px;
    height: 100px;
    margin: -1rem auto 0 auto;
  }
  .screen-two .profile {
    width: 4rem;
    height: 4rem;
    margin-left: 0.1rem;
  }
  .screen-two .fa-bell {
    font-size: 1.2rem;
    margin-right: 1rem;
  }

  .screen-two .profil_text .text h4 {
    font-size: 0.6rem;
    line-height: 1.3rem;
    margin: 0 0 0 1rem;
  }

  .screen-two .profil_text .text p {
    font-size: 0.8rem;
    margin: 0.3rem 0 0 1rem;
  }
  .toggleMenu {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }
  .covid19 .travel {
    font-size: 1rem;
  }
  .trip-box span.info-span {
    font-size: 10px;
  }
  .trip-box span.tag {
    font-size: 0.9rem;
  }
}
